---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fernando's Portfolio">
  <main>
    <section class="w-full mx-auto py-44 lg:w-[740px]">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Hola, soy Fernando
      </h1>
      <h2>
        3 años de experiencia. Desarrollador Full-Stack. Especializado en hacer
        realidad los sueños de mis clientes
      </h2>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
