<article
  class="flex flex-col items-center justify-center gap-8 text-white dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Fernando. Empecé a programar con una web de videojuegos hecha en
      HTML. Actualmente estoy <strong
        >trabajando con equipos multidisciplinarios y guiando nuevos
        desarrolladores</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >desarrollar landing pages y ecommerce para empresas, así como software
        de almacenes</strong
      >. Siempre enfocado en la satisfacción del cliente y el desarrollo
      continuo de la mano de las técnologias más actuales.
    </p>
  </div>
</article>
